<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/css/Auth/Index.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    @RenderBody()
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button id="f1" type="button" class="toggle-btn">Login</button>
                <button id="f2" type="button" class="toggle-btn">Register</button>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center;" class="header">
                <h2>QuickQuiz</h2>
            </div>
            <form id="login" class="input-group">
                <input id="username1" type="text" class="input-field" placeholder="User ID" require>
                <input id="password1" type="password" class="input-field" placeholder="Password" require>
                <div style="height: 30px"></div>
                <div id="login_btn" class="submit-btn"><b>LOG IN</b></div>
            </form>
            <form id="register" class="input-group">
                <input id="username2"  type="text" class="input-field" placeholder="User ID" require>
                <input id="password2"  type="password" class="input-field" placeholder="Password" require>
                <input id="repassword2"  type="password" class="input-field" placeholder="Confirm password" require>
                <input id="fullname2"  type="text" class="input-field" placeholder="Full name" require>
                <div id="register_btn" class="submit-btn"><b>REGISTER</b></div>
            </form>
        </div>
    </div>
    <script>
        var LoginTab = document.getElementById("login");
        var RegisterTab = document.getElementById("register");
        var CurrentTab = document.getElementById("btn");

        $("#f1").click(function() {
            LoginTab.style.left = '50px';
            RegisterTab.style.left = "450px";
            CurrentTab.style.left = "0px";
        });
        $("#f2").click(function() {
            LoginTab.style.left = '-400px';
            RegisterTab.style.left = "50px";
            CurrentTab.style.left = "110px";
        });
        $('#login_btn').click(function() {
            $.ajax({
                url: '@Url.Content("~/Auth/Login")',
                type: "post",
                data: {
                    username: $('#username1').val(),
                    password: $('#password1').val()
                },
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    if (data['id'] > 0) {
                        localStorage.setItem("uid", data['id']);
                        localStorage.setItem("name", data['name']);
                        window.location.href = '@Url.Content("/Home/Index")';
                    }
                    else {
                        alert("Kiểm tra tài khoản và mật khẩu");
                    }
                    
                },
                error: function(data) {
                    alert("Error");
                }
            }); 
        });
        $('#register_btn').click(function() {
            $.ajax({
                url: '@Url.Content("~/Auth/Register")',
                type: "post",
                data: {
                    username: $('#username2').val(),
                    password: $('#password2').val(),
                    repassword: $('#repassword2').val(),
                    fullname: $('#fullname2').val()
                },
                dataType: "json",
                success: function(data) {
                    if (data['id'] > 0) {
                        localStorage.setItem("uid", data['id']);
                        localStorage.setItem("name", data['name']);
                        window.location.href = '@Url.Content("/Home/Index")';
                    } else if (data['id'] == -4) {
                        alert("Vui lòng nhập đầy đủ thông tin");
                    } else if (data['id'] == -1) {
                        alert("Tài khoản đã tồn tại");
                    } else if (data['id'] == -3) {
                        alert("Mật khẩu không trùng khớp");
                    } else if (data['id'] == -5) {
                        alert("Kiểm tra độ dài tài khoản >= 8 và mật khẩu >=8 ");
                    }
                },
                error: function(data) {
                    alert(data);
                }
            }); 
        })
    </script>
</body>
</html>


