@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model List<Multiplechoice>
<section class="home-section">
  <div class="hs__header" style="display: none;">
    <div class="filter">
      <select class="filter-content" id="selected_filter_item">
        <optgroup label="Lớp 10">
          <option value="toan10">Toán 10</option>
          <option value="vatly10">Vật lý 10</option>
          <option value="hoahoc10">Hóa học 10</option>
          <option value="sinhoc10">Sinh học 10</option>
          <option value="anhvan10">Anh văn 10</option>
          <option value="gdcd">Giáo dục công dân 10</option>
          <option value="dialy">Địa lý 10</option>
          <option value="lichsu">Lịch sử 10</option>
        </optgroup>
        <optgroup label="Lớp 11">
          <option value="toan10">Toán 11</option>
          <option value="vatly10">Vật lý 11</option>
          <option value="hoahoc10">Hóa học 11</option>
          <option value="sinhoc10">Sinh học 11</option>
          <option value="anhvan10">Anh văn 11</option>
          <option value="gdcd">Giáo dục công dân 11</option>
          <option value="dialy">Địa lý 11</option>
          <option value="lichsu">Lịch sử 11</option>
        </optgroup>
        <optgroup label="Lớp 12">
          <option value="toan10">Toán 12</option>
          <option value="vatly10">Vật lý 12</option>
          <option value="hoahoc10">Hóa học 12</option>
          <option value="sinhoc10">Sinh học 12</option>
          <option value="anhvan10">Anh văn 12</option>
          <option value="gdcd">Giáo dục công dân 12</option>
          <option value="dialy">Địa lý 12</option>
          <option value="lichsu">Lịch sử 12</option>
        </optgroup>
        <optgroup label="Ôn thi THPT">
          <option value="toan10">Toán</option>
          <option value="vatly10">Vật lý</option>
          <option value="hoahoc10">Hóa học</option>
          <option value="sinhoc10">Sinh học</option>
          <option value="anhvan10">Anh văn</option>
          <option value="gdcd">Giáo dục công dân</option>
          <option value="dialy">Địa lý</option>
          <option value="lichsu">Lịch sử</option>
        </optgroup>
      </select>
    </div>
    <div class="searchbox">
      <form>
        <input id="tf_search" type="text" name="" placeholder="Nhập nội dung của bạn đi nào..." />
        <input id="btn_search" type="submit" name="" value="Tìm ngay" />
      </form>
    </div>
  </div>
  <div class="hs__content row">
      <h3 class="grid-subject-title">CÁC BÀI TRẮC NGHIỆM CỦA TÔI</h3>
      <div class="grid-container">
        @foreach (var item in Model)
        {
          <div class="grid-item">
            <div class="quiz-name">
                <h3>@item.title</h3>
            </div>
            <div class="quiz-content">
                <div class="quiz-channel">
                    <p>Số câu hỏi: <b>@item.total câu</b></p>
                </div>
                <div class="quiz-action">
                    <button onclick="sua(@item.id)">Sửa</button>
                    <button onclick="xoa(@item.id)">Xóa</button>
                </div>
                <div class="quiz-descr">
                    <p>
                    <span>Thời lượng</span><br />
                    <span>@item.time phút</span>
                    </p>
                    <p>
                    <span>Tham gia</span><br />
                    <span>@item.participant</span>
                    </p>
                </div>
            </div>
          </div>
        }
      </div>
  </div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  function xoa(id) {
    if (confirm("Xóa bài trắc nghiệm?")) {
        window.location.href = '@Url.Action("Delete", "Quiz")?mcid=' + id;
    }
  }

  function sua(id) {
    if (confirm("Sửa bài trắc nghiệm?")) {
        window.location.href = '@Url.Action("Update", "Quiz")?mcid=' + id;
    }
  }
</script>